.container {
    margin-right: 10%;
    margin-left: 10%;
}

header {
    height: 900px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

#overview{
    
    .content{
        
        img{
            width: 50%;
        }

        .right{
            margin-top: 5%;
            padding-right: 60px;
        }
    }
}
