.container {
    margin-right: 3%;
    margin-left: 3%;
}

nav {
    display: flex;
    flex-flow: row;

    ul {
        display: flex;

    }
}

#overview {

    .content {

        .left {
            margin-top: 8%;
            height: 60%;
        }

        .right {
            margin-top: 2%;
        }
    }
}